<section class="section">
    <div class="container">
        <div class="row">
            <div class="col px-sm-0">
                <app-section-title
                    [title]="'Heading'"
                    [subtitle]="'Lorem ipsum dolor sit amet, consect etur adipiscing elit.'"
                    [isFontColorInverse]="true">
                </app-section-title>
            </div>
        </div>
        <div class="row">
            <div class="col px-md-0">
                <div class="slider-wrapper">
                    <div class="slider-button-wrapper left">
                        <button class="button" #scrollButtonLeft (click)="scrollSlider(ScrollDirection.LEFT)">
                            <img src="assets/images/arrow.png" srcset="assets/images/arrow.png 1x, assets/images/arrow@2x.png 2x"
                                 alt="Arrow Left" class="arrow-icon left">
                        </button>
                    </div>
                    <div class="slider" #scrollContainer>
                        <app-content-box [title]="'Heading'" [text]="'Lorem ipsum dolor sit amet.'"
                                         [imageData]="imageData" [isSliderBoxItem]="true" id="scrollItem-1">
                        </app-content-box>
                        <app-content-box [title]="'Heading'" [text]="'Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aenea uismod bibendum laoreet. Proin gravida dolor sit amet lacus.'"
                                         [isSliderBoxItem]="true" id="scrollItem-2">
                        </app-content-box>
                        <app-content-box [title]="'Ultra Mega Super Long Heading'" [text]="'Lorem ipsum dolor sit amet, consect etur adipiscing elit. Aenea uismod bibendum laoreet. Lorem ipsum dolor sit amet'"
                                         [isSliderBoxItem]="true" id="scrollItem-3">
                        </app-content-box>
                    </div>
                    <div class="slider-button-wrapper right">
                        <button class="button" #scrollButtonRight (click)="scrollSlider(ScrollDirection.RIGHT)">
                            <img src="assets/images/arrow.png" srcset="assets/images/arrow.png 1x, assets/images/arrow@2x.png 2x"
                                 alt="Arrow Left" class="arrow-icon right">
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
