@import "src/styles/variables";

:host::ng-deep {
    .content-box {
        width: $base-size * 16.5;
        padding: $base-size * 1.75 $base-size * 1.25;
        background: $text-color-inverse;
        height: $base-size * 11.4;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        align-items: center;
        text-align: center;
        margin: 0 $base-size * 0.5;
        flex-shrink: 0;

        @include media-breakpoint-down(lg) {
            margin-bottom: $base-size;
        }

        @include media-breakpoint-down(md) {
            margin: 0 $base-size * 0.5 $base-size;
        }
        @include media-breakpoint-down(sm) {
            margin: 0 $base-size * 0.5 $base-size;

            &.hero {
                width: $base-size * 11.25;
                padding: $base-size * 1.25 $base-size;
            }

            &:not(.hero) {
                width: 100%;
                margin: 0 0 $base-size;
            }

        }

        .title {
            color: $text-color;
            font-size: $base-size;
            line-height: $base-size * 1.4;
            margin-bottom: $base-size * 0.65;
        }

        .text {
            line-height: $base-size * 1.25;
        }
    }
}
